.color-circle {
  margin: 0 6px 0 0;
  font-size: 30px;

  &.color-charcoal {
    color: $colors-dropdown.charcoal !important;
  }

  &.color-grey {
    color: $colors-dropdown.grey !important;
  }

  &.color-red {
    color: $colors-dropdown.red !important;
  }

  &.color-orange {
    color: $colors-dropdown.orange !important;
  }

  &.color-yellow {
    color: $colors-dropdown.yellow !important;
  }

  &.color-green {
    color: $colors-dropdown.green !important;
  }

  &.color-blue {
    color: $colors-dropdown.blue !important;
  }

  &.color-purple {
    color: $colors-dropdown.purple !important;
  }
}
