.color-label {
  color: $colors.shades.white;

  &.color-charcoal {
    background-color: $colors-dropdown.charcoal !important;
  }

  &.color-grey {
    background-color: $colors-dropdown.grey !important;
  }

  &.color-red {
    background-color: $colors-dropdown.red !important;
  }

  &.color-orange {
    background-color: $colors-dropdown.orange !important;
  }

  &.color-yellow {
    background-color: $colors-dropdown.yellow !important;
  }

  &.color-green {
    background-color: $colors-dropdown.green !important;
  }

  &.color-blue {
    background-color: $colors-dropdown.blue !important;
  }

  &.color-purple {
    background-color: $colors-dropdown.purple !important;
  }
}
