@require './theme'

// Buttons
.btn-toggle
	border: 1px solid $colors.grey.lighten-2 !important
	border-radius: $border-radius !important
	box-shadow: none !important

.btn-toggle .btn
	opacity: 1 !important

.btn-toggle .btn--active
	background: $colors.primary !important
	color: #fff !important

.v-input {
  .v-input__icon {
    .v-icon {
      color: $colors.grey.base;
    }
  }
}

